<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bluetoothlib">

    <application android:allowBackup="true">

    </application>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.BLUETOOTH_PRIVILEGED"/>
</manifest>

